.css-selector {
  font-family: 'Font Name', Poppins;
}

#name {
    text-align: center;
}

#bio {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  text-align: justify;
}

#projects {
  padding: 30px;
}

#research {
  padding: 20px;
  overflow: hidden;
  position: relative;
  display: block;
}

#research img {
  width: 100%;
  object-fit: contain;
}

#research img:hover {
  opacity: .5;
  transition: .5s ease;
}

#design {
  border-style: solid;
  padding: 20px;
}

#writing {
  border-style: solid;
  padding: 20px;
}

#contact-info {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

#contact p{
  text-align: center;
}

.fa {
  padding: 15px;
  color: black;
  float: center;
}

.fa:hover {
  text-decoration: none;
}
