ul{
  list-style: none;
  padding:40px;
  margin:0;
}

.menu{
  display: flex;
  justify-content: space-around;
}

h1 {
  color:black;
  font-size-adjust: auto;
  margin:auto;
  text-align: center;
}

h2{
  color:black;
  font-size-adjust: auto;
  margin: auto;
  text-align: center;
}

p {
  color:black;
  font-size-adjust: auto;
  margin: auto;
  padding-left: 100px;
  padding-right:100px;
  text-align: center;
 }
