.header{
  overflow: hidden;
  background-color: #C58FE0;
  padding: 20px 340px;
}

.header a{
  overflow: hidden;
  background-color: #C58FE0;
  float: center;
  color:black;
  text-align: center;
  padding: 12px 50px 12px 50px;
  text-decoration: none;
  font-size: 18px;
  line-height:25px;
  border-radius: 4px;
}

.header a:hover{
  background-color: #C58FE0;
  color:black;
}

.header a.active{
  background-color: #98C6E3;
  color: black;
}

.header-center{
  float:center;
}

@media screen and (max-width: 500px){
  .header a {
    float:none;
    display:block;
    text-align:left;
  }
  .header-right{
    float:none;
  }
}

p {
  color:black;
  font-size: 12px;
  margin: auto;
  padding-left: 50px;
  padding-right:50px;
  text-align: center;
 }
