css-selector {
  font-family: 'Font Name', Heebo;
}

ul {
  list-style: none;
  padding: 40px;
  margin: 0px;
  text-decoration: none;
  font-size-adjust: auto;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  border-radius: 10px;
}

a:active {
  color: black;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #C58FE0;
}

h1 {
  color: black;
  font-size-adjust: auto;
  margin: auto;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid black !important;
}

span.purple-overlay {
  background: #C58FE0;
  display: none;
  position: relative;

}

img:hover {
  opacity: .7;
}

h3 {
  text-align: center;
  padding: 0px 0px 0px 0px;
}

p {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  text-align: center;
}

.fa {
  padding: 15px;
}
